@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: 'Fira Code', monospace;
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}