@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-mono: 'Fira Code', monospace;

  --color-background: #000000;
  --color-background-secondary: var(--color-zinc-950);
  --color-foreground: #FFFFFF;
  --color-muted: var(--color-zinc-400);
  --color-muted-hover: var(--color-zinc-500);
  --color-primary: var(--color-pink-500);
  --color-primary-hover: var(--color-pink-600);
  --color-secondary: var(--color-pink-300);
  --color-secondary-hover: var(--color-pink-400);
  --color-border: var(--color-zinc-800);
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

:root::-webkit-scrollbar {
  display: none;
}